body{
    background-color: #212529;
    font-family: 'Nunito', sans-serif;
}
#mainNavbar {
    font-weight: 300;
    font-size: 1.5rem;

}
.row{
    padding-right: 2%;
    padding-left: 2%;
}
.navbar{
    background: linear-gradient(129deg, rgb(65, 80, 95) 0.00%, rgb(36, 37, 38) 93.96%);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.navbar-brand{
    font-size: 23px;
    letter-spacing: 8px;
    margin: 0;
}
#mainNavbar .navbar-brand{
    color:#260918;
    font-size: 1.5rem;
} 
#mainNavbar .nav-link{
    color: #260918;
}
#mainNavbar .nav-link:hover{
    color: #adb5bd;
}
@media (max-width: 1200px) {
    #headingGroup h2 {
        font-weight: 100;
        font-size: 3rem;
    }
}
@media (max-width: 768px) {
    hr{
        display: none;
    }
    h2{
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    .navbar-brand{
        font-size: 24px;
        letter-spacing:3px;
    }
}
@media (max-width: 376px) {
    .navbar-brand{
        font-size: 21px;
        letter-spacing:2px;
    }
}
@media (max-width: 321px) {
    .navbar-brand{
        font-size: 18px;
        letter-spacing:1px;
    }
}

.round{
    border-radius: 5%;
}
hr{
    background-color: grey;
}
h2{
    font-weight: 200;
}
.navbar.scrolled {
    background-color: #260918;
    transition: .3s;
}
